$black: #212121;
$yellow: #fdd835;
$lightblue: #47d1ff;
$pink: #ff729f;

$border: 3px solid #212121;

$bottomFifty: 0 auto 50px auto;

@mixin flexColumn {
	display: flex;
	flex-direction: column;
	height: 100%;
}

@mixin flexColumnCenter {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
}

@mixin flexSpaceBetween {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	height: 100%;
}

@mixin xlargeFont {
	font-size: 2.4rem;
	font-weight: 600;
}

@mixin yellowButtonBefore {
	content: "";
	position: absolute;
	top: -7px;
	left: -7px;
	width: 100%;
	height: 100%;
	border: $border;
	transition: 0.2s;
}

@mixin yellowButtonAfter {
	content: "";
	width: 5px;
	height: 5px;
	border-top: 3px solid $yellow;
	border-right: 3px solid $yellow;
	transform: rotate(45deg);
}

@mixin yellowButtonHoverBefore {
	top: 0;
	left: 0;
}

@mixin iconSNSBefore {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.6em;
}

#root {
	max-width: 700px;
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: normal;
	color: $black;
	white-space: pre-wrap;
	height: 100%;
}

header {
	height: 300px;
}

.title {
	position: relative;
	h1 {
		display: inline-block;
		position: absolute;
		top: 50px;

	}

	&Illust {
		width: 700px;
		position: relative;
		img {
			height: 220px;
			position: absolute;
			top: 30px;
			right: 0;
		}
	}
}

.fallInTitle {
	animation-name: fallInTitle;
	animation-duration: 1s;
	animation-timing-function: ease-in;
}
@keyframes fallInTitle {
	0%{
		top: -500px;
	}80%{
		top: 50px;
	}90%{
		top: 30px;
	}100%{
		top: 50px;
	}
}

.fallInIllust {
	animation-name: fallInIllust;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

@keyframes fallInIllust {
	0%{
		top: -500px;
	}100%{
		top: 30px;
	}
}

.selectMenu {
	@include flexSpaceBetween;
	margin-bottom: 50px;

	> div {
		width: 320px;
	}

	&Standard {
		align-self: flex-end;

		> .selectedStandard {
			background-color: $lightblue;
		}
	}

	&Various {
		> .selectedVarious {
			background-color: $pink;
		}
	}

	&Link {
		@include xlargeFont;
		position: relative;
		display: inline-block;
		margin-top: 20px;
		padding: 40px 0;
		width: 320px;
		border: $border;
		text-align: center;
		> a {
			position: absolute;
			top: 0;
			left: 0;
			height:100%;
			width: 100%;
			line-height: 80px;
			text-decoration: none;
			color: $black;
		}
	}
}

.selectMenuBalloon {
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #fff;
	padding: 0 10px;
	border: 3px solid $black;
	color: #333;
	width: 320px;
	height: auto;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	&::after,
	&::before {
		content: "";
		position: absolute;
		border: 12px solid transparent;
		top: 100%;
		left: 47%;
	}

	&:before {
		border-top: 20px solid $black;
	}

	&:after {
		margin-top: -4px;
		border-top: 20px solid #fff;
	}
}

.mainInput {
	@include flexColumnCenter;
	margin-bottom: 50px;
	&-box {
		margin: 15px 0;
		display: flex;
		justify-content: center;
		> label {
			@include xlargeFont;
			display: inline-block;
			width: 100px;
			background-color: $yellow;
			border-bottom: $border;
			padding: 5px 0 0 5px;
		}
		> input {
			width: 400px;
			height: 70px;
			border: $border;
			font-size: 2.4rem;
			padding-left: 10px;
		}
	}
}

.mainSummarize {
	@include flexColumnCenter;
	@include xlargeFont;
	margin-bottom: 50px;
	p {
		margin: 0;
	}
	p:first-child {
		padding-bottom: 10px;
	}
}

.mainButton {
	@include xlargeFont;
	position: relative;
	background-color: $yellow;
	display: block;
	margin: $bottomFifty;
	padding: 15px 100px;
	border: none;
	cursor: pointer;

	&::before {
		@include yellowButtonBefore;
	}
	&::after {
		@include yellowButtonAfter;
	}
	&:hover::before {
		@include yellowButtonHoverBefore;
	}
}

.resultSlideOpen {
	&-enter-active, &-leave-active {
		transition: opacity 1s ease;
	}
	&-enter-from, &-leave-to {
		opacity: 0;
	}
}

.result {
	&-box {
		>div {
			margin: $bottomFifty;
		}
	}
	&NaN {
		@include xlargeFont;
		text-align: center;
	}

	&Common {
		@include flexCenter;
		height: 250px;
		margin-bottom: 50px;
		
		div:first-child {
			width: 150px;
			img {
				height: 250px;
			}
		}

		div:last-child {
			@include xlargeFont;
			width: fit-content;

			p {
				display: inline-block;
				position: relative;
				padding: 20px;
				border-radius: 5px;
				margin: 50px 0;
				text-align: center;
				border: $border;

				&::after, &::before {
					border: solid transparent;
					content:'';
					height:0;
					width:0;
					pointer-events:none;
					position:absolute;
					right:100%;
					top:50%;
				}
				
				&::after {
					border-color: rgba(255, 255, 255, 0);
					border-top-width:10px;
					border-bottom-width:10px;
					border-left-width:10px;
					border-right-width:10px;
					margin-top: -10px;
					border-right-color:#FFFFFF;
				}

				&::before {
					border-color: rgba(33, 33, 33, 0);
					border-top-width:13px;
					border-bottom-width:13px;
					border-left-width:13px;
					border-right-width:13px;
					margin-top: -13px;
					margin-right: 1px;
					border-right-color: $black;
				}
			}
		}
	}

	&Various {
		>div:last-child {
			margin-left: 100px;
		}
	}
	
	&Share {

		&SNS {
			@include flexSpaceBetween;
		}

		&LINE {
			display: none;
		}

		>div {
			position: relative;
		}

		button {
			background-color: $yellow;
			font-size: 2rem;
			font-weight: 600;
			cursor: pointer;
			width: 300px;
			border: none;
			position: relative;

			&::before {
				@include yellowButtonBefore;
			}
			&::after {
				@include yellowButtonAfter;
			}
			&:hover::before {
				@include yellowButtonHoverBefore;
			}

			>p {
				margin: 20px 50px 0 50px;
			}
		}

		img {
			height: 120px;
			position: absolute;
		}

		&Twitter {
			img {
				left: 0;
			}
			p {
				text-align: right;
			}
		}
		&Copy {
			img {
				right: 0;
			}
			p {
				text-align: left;
			}
		}
	}
}

.again {
	width: fit-content;
	height: 85px;
	margin: 100px auto 50px auto;
	&Button {
		@include xlargeFont;
		position: relative;
		background-color: $yellow;
		border: none;
		width: 320px;
		cursor: pointer;

		&::before {
			@include yellowButtonBefore;
		}
		&::after {
			@include yellowButtonAfter;
		}
		&:hover::before {
			@include yellowButtonHoverBefore;
		}

		p {
			margin: 20px 50px 0 120px;
		}

		img {
			position: absolute;
			height: 170px;
			bottom: -40px;
			left: 0;
		}
	}
}

.creator {
	&AboutMe {
		&-box {
			@include flexCenter;
		}
		&Icon {
			height: 100px;
		}
		&Paragraph {
			display: inline-block;
			margin: 0 0 0 20px;
		}
	}
}

// .socialLinkEffect{
// 	padding-left: 50px;
// 	li {
// 		display: inline-block;
// 	}

// 	&Each {
// 		margin: .3em;
// 		display: block;
// 		width: 60px;
// 		height: 60px;
// 		line-height: 60px;
// 		border-radius: 50%;
// 		text-align: center;
// 		position: relative;
// 		z-index: 1;
// 		color: #bfbfbf;
// 		font-size: 3rem;
// 		background: rgba(255, 255, 255, 0.1);
// 		transition: transform ease-out 0.2s;
// 	}
// }

// .icon-youtube {
// 	&::before {
// 		@include iconSNSBefore;
// 	}

// 	&:hover {
// 		background: #ff0000;
// 		color: #fff;
// 		transform: scale(0.9);
// 	}
// }

// .icon-instagram {
// 	&::before {
// 		@include iconSNSBefore;
// 	}

// 	&:hover {
// 		background: radial-gradient(
//       circle farthest-corner at 32% 106%,
//       rgb(255, 225, 125) 0%,
//       rgb(255, 205, 105) 10%,
//       rgb(250, 145, 55) 28%,
//       rgb(235, 65, 65) 42%,
//       transparent 82%
//     ),
//     linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
// 		color: #fff;
//   	transform: scale(0.9);
// 	}
// }

// .icon-twitter {
// 	&::before {
// 		@include iconSNSBefore;
// 	}

// 	&:hover {
// 		background: #00b0ed;
// 		color: #fff;
//   	transform: scale(0.9);
// 	}
// }

// .fa-instagram, .fa-youtube, .fa-twitter {
//   display: inline-block;
// }